<style>
.listitem {
	margin-bottom: 2em;
}
.listitem a {
	float:left;
	margin-right: 2em;
}
</style>

<h1>Popular Images</h1>

#for $image in $imagelist
<div class="listitem">
<a href="$image.viewurl"><img src="$image.thumburl"/></a>
<p>$image.description</p><br/>
Rating: $image.rating<br/>
Submitted by $image.submituser on $image.submitdate
<br clear="both"/>
</div>

#end for

<br/>
#if len($nextratesort)
<a href="/list/popular?nextratesort=$nextratesort">More Images ...</a>
#end if