<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>The Image Project</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
		<link rel="stylesheet" href="/site_tmpl/style.css" />
	</head>
	<body>
	<div id="conteneur">

		  <div id="header">The Image Project</div>
		  
		  <div id="haut">
			<ul class="menuhaut">
				<li><a href="/">Home</a></li>
				<li><a href="/list/popular">Popular</a></li>
				<li><a href="/list/recent">Recent</a></li>
				<li><a href="/submit">Submit</a></li>
			</ul>
		  </div>

		  <div id="centre">
$main
		  </div>
		<div id="pied">CS462 Server created by Song Design by <a href="http://students.cs.byu.eud/~yuanzheng/">Yuanzheng Song</a></div>
	</div>
	</body>
</html>
